<h2>ユーザー編集</h2>

<%= form_for @user do |f| %>
    <table>
        <tr>
            <th><%= f.label :title ,"名前" %></th>
            <td><%= f.text_field :title %></td>
        </tr>
        <tr>
            <th><%= f.label :start ,"開始日" %></th>
            <td><%= f.text_field :start %></td>
        </tr>
        <tr>
            <th><%= f.label :end ,"終了日" %></th>
            <td><%= f.text_field :end %></td>
        </tr>
        <tr>
            <th><%= f.label :allday ,"終日" %></th>
            <td><%= f.text_area :allday %></td>
        </tr>
    </table>
    <div>
        <ul>
            <li><%= f.submit "編集を完了する" %></li>
            <li><%= link_to "ユーザー情報一覧に戻る", :users %></li>
        </ul>
    </div>
<% end %>


rails g model Schedule title:string start:date start:date allday:boolean
